playlist-item {

  .playlist {
    background-color: map-get($colors, primary);
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    color: map-get($colors, light);
    border-radius: 4px;
  }

  .playlist__title {
    text-transform: uppercase !important;
  }

  .playlist__title, .playlist__content {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }

  .playlist__actions__icon {
    font-size: 3em;
  }

  /* custom */
  .card-header {
    color: map-get($colors, light);
  }

}
